.connect-to-left, .connect-to-top {
    position: relative;
}

.connect-to-left {
    margin-left: var(--main-gap);
}

.connect-to-top {
    margin-top: var(--main-gap);
}

.connect-to-left::before, .connect-to-top::before {
    content: "";
    position: absolute;
    background-color: var(--main-theme-color);
    transition: background-color var(--main-out-duration);
}

.connect-to-top::before {
    bottom: 100%;
    width: var(--main-border-width);
    height: var(--main-gap);
}

.btn.connect-to-top::before {
    bottom: calc(100% + var(--main-border-width))
}

.connect-to-left::before {
    right: 100%;
    width: var(--main-gap);
    height: var(--main-border-width);
}

.btn.connect-to-left::before {
    right: calc(100% + var(--main-border-width))
}

.connect-to-top:hover::before,
.connect-to-top:hover + .connect-to-top::before,
.list-opener:hover + .list .connect-to-top:nth-child(1)::before {
    background-color: var(--main-font-color);
    transition-duration: var(--main-in-duration);
}

.list-box {
    outline: none;
    display: grid;
    align-items: center;
}

.list {
    top: 100%;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--list-out-duration);
}

.list:focus:not(:focus-visible) {
    opacity: 1;
    pointer-events: all;
    transition-duration: var(--list-in-duration);
}