:root {
    --content-width: 500px;
    --header-height: 60px;
    --footer-height: 20px;

    --main-gap: 0.5em;
    --main-border-radius: 5px;
    --main-border-width: 1px;
    --main-padding: 10px;
    --main-box-shadow: 10px;

    --main-font-size: 30px;
    --main-font-weight: 600;
    --title-text-shadow: 5px;

    --main-in-duration: 200ms;
    --main-out-duration: 800ms;
    --list-in-duration: 200ms;
    --list-out-duration: 400ms;

    --main-theme-color: #4b1bd1;
    --main-bg-color: #000000;
    --main-font-color: #ffffff;
    --secondary-theme-color: #ffd000;
    --input-digit-color: #7df0ff;
    --error-color: #ff0000;
}

body {
    display: grid;
    grid-template-rows: var(--header-height) 1fr var(--footer-height);
    margin: 0;
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--main-font-size);
    font-weight: var(--main-font-weight);
}

*, *::before, *::after {
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-columns: 1fr var(--content-width) 1fr;
    align-content: start;
    justify-items: center;
    column-gap: var(--main-gap);
    row-gap: calc(2 * var(--main-gap));
    padding-top: var(--main-gap);
}

svg {
    fill: var(--main-font-color);
    transition: fill var(--main-out-duration);
    width: 1em;
}

header {
    display: grid;
    justify-items: center;
}

.title-box {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    column-gap: var(--main-gap);
}

.logo {
    width: 1em;
}

.title {
    text-shadow: 0 0 var(--title-text-shadow) var(--main-theme-color);
}

.btn {
    font-size: inherit;
    outline: none;
    padding: var(--main-padding);
    display: grid;
    place-items: center;
    border: var(--main-border-width) solid var(--main-theme-color);
    border-radius: var(--main-border-radius);
    cursor: pointer;
    color: inherit;
    background-color: inherit;
    animation-duration: var(--main-out-duration);
    transition-property: border, box-shadow;
    transition-duration: var(--main-out-duration);
}

.btn:hover, .btn:focus-visible .btn.active {
    border-color: var(--secondary-theme-color);
    box-shadow: 0 0 var(--main-box-shadow) var(--main-theme-color);
    transition-duration: var(--main-in-duration);
}

.btn:hover svg, .btn:focus-visible svg, .btn.active svg {
    fill: var(--secondary-theme-color);
    transition-duration: var(--main-in-duration);
}

.buttons-box {
    justify-self: start;
    display: flex;
    column-gap: var(--main-gap);
}

.list-btn {
    background-color: var(--main-bg-color);
    position: relative;
    margin-top: var(--main-gap);
}

.list-btn::before {
    content: "";
    position: absolute;
    bottom: calc(100% + var(--main-border-width));
    width: var(--main-border-width);
    height: var(--main-gap);
    background-color: var(--main-theme-color);
    transition: background-color var(--main-out-duration);
}

.list-btn:hover::before, .list-btn:hover + .list-btn::before, .list-opener:hover + .list .list-btn:nth-child(1)::before {
    background-color: var(--main-font-color);
    transition-duration: var(--main-in-duration);
}

.list-box {
    outline: none;
}

.list {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--list-out-duration);
}

.list:focus:not(:focus-visible) {
    opacity: 1;
    pointer-events: all;
    transition-duration: var(--list-in-duration);
}

.input {
    padding-inline: var(--main-padding);
    padding-top: 0.23em;
    border: var(--main-border-width) solid var(--main-theme-color);
    border-radius: var(--main-border-radius);
    cursor: text;
    animation-duration: var(--main-out-duration);
    transition-property: border, box-shadow;
    transition-duration: var(--main-out-duration);
    position: relative;
    grid-column: 2 / 3;
    width: 100%;
    height: 100%;
}

.input.active {
    border-color: var(--secondary-theme-color);
    box-shadow: 0 0 var(--main-box-shadow) var(--main-theme-color);
    transition-duration: var(--main-in-duration);
}

.input.error {
    border-color: var(--error-color);
    box-shadow: 0 0 var(--main-box-shadow) var(--error-color);
}

.input-text {
    font-size: inherit;
    outline: none;
    overflow-x: hidden;
    pointer-events: none;
}

.input-text .digit {
    color: var(--input-digit-color);
}

pre {
    font-family: inherit;
    margin: 0;
}

.output {
    grid-column: 2 / 3;
    overflow-x: hidden;
    animation-duration: var(--main-out-duration);
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
}

.output .property-name {
    justify-self: start;
}

.output .property-value {
    justify-self: end;
}

footer {
    font-size: x-small;
    justify-self: center;
}

@keyframes boom-input {
    0% {
        background-color: var(--main-font-color);
        transform: scale(1.02, 1.1);
    }
}

@keyframes boom-btn {
    0% {
        background-color: var(--main-theme-color);
    }
}

@keyframes fade-in-output {
    0% {
        opacity: 0;
    }
}

@keyframes input-typing-error {
    0% {
        border-color: var(--error-color);
        box-shadow: 0 0 var(--main-box-shadow) var(--error-color);
    }
}